:root{
    --color-primary:rgb(218, 138, 255);
    --bg-dark:#141414;
    --text-color:#fff;
    --btn-color:#8c00ff;
    --header-bg:rgba(0,0,0,0.8);
    --linear-bg: linear-gradient(to right, aqua, purple);
}

.logo:hover{
    letter-spacing: 10px;
    animation: acender 0.5s forwards;
}

.titulo{
    background-image: linear-gradient(to right, #1c1aa5,#A327F5,#1c1aa5);
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 700;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.titulo:hover{
    animation: acender 0.5s forwards;
}


@keyframes acender {
    to{
        color:var(--text-color);
        text-shadow: 0 0 10px #1c1aa5, 0 0 20px #a8dfe1;
    }
}